.input__label-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.input__label {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;

  word-break: break-all;
}

.input__label-required--asterisk {
  color: #d92d20;
}
