.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip .tooltip__text {
  visibility: hidden;
  background-color: #131316;
  color: #fff;

  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-wrap: nowrap;

  position: absolute;
  left: -250%;
  bottom: 150%;
  padding: 8px 12px;

  border-radius: 8px;
  z-index: 1;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip__text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  border-width: 4px;
  border-style: solid;
  border-color: #131316 transparent transparent transparent;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .tooltip .tooltip__text {
    background-color: #a0a0ab;
  }

  .tooltip .tooltip__text::after {
    border-color: #a0a0ab transparent transparent transparent;
  }
}
